<html>
<head>
  <%= stylesheet_link_tag 'custom_liang', media: 'all', 'data-turbolinks-track': 'reload' %>
</head> 
<div class="leave-form-container">
<h1>请假登记单</h1>
<br>
<br>
<br>
<%= form_for @leave do |f| %>

  <%= f.label :开始时间 %>
  <%= f.date_field :start_date %>
  <br>
  <br>
  <%= f.label :结束时间 %>
  <%= f.date_field :end_date %>
 <br>
  <%= f.label :请假原因 %>
  <%= f.text_area :reason %>
  <br>
  <br>
  <%= f.label :请假类型 %>
  <%= f.select :leave_type, ['年假', '丧假', '事假', '病假'] %>
  <br>
  <br>
  <%= f.label :申请人 %>
  <%= f.text_field :requestor, value: current_user.username, readonly: true, style: "background-color: #eeeeee;" %>
  <br>
  <br>
  <%= f.label :批准状态, style: "display: none;" %>
  <%= f.text_field :approve_status, value: "待审批", readonly: true, style: "display: none;" %>
  <br>
  <%= f.submit "提交" %>
<% end %>
</div>
</html>
